/* @import "reset.css"; */
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Spectral+SC&display=swap');

body {
  background-image: url('http://inn.spb.ru/images/500/DSC100530683.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  opacity: 100%;
  font-family: 'Spectral SC', serif;
  height: 100vh;  
}